<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama Koin</th>
      <th>Jumlah Koin</th>
      <th>Harga Koin</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <!-- <td colspan="5" class="text-center">Data masih kosong</td> -->
    <% for (let i = 0; i < data.length; i++) { %>
    <tr>
      <% const price = data[i].price; const replceToMoney = new
      Intl.NumberFormat('id-ID').format(price) %>
      <td><%= i + 1 %></td>
      <td><%= data[i].cointName %></td>
      <td><%= data[i].cointQuantity %></td>
      <td>Rp. <%= replceToMoney %></td>

      <td>
        <form
          action="/nominal/delete/<%= data[i]._id %>?_method=DELETE"
          method="post"
        >
          <a href="/nominal/edit/<%= data[i]._id %>" class="btn btn-warning">
            <i class="nav-icon fas fa-pencil-alt"></i>
            Ubah
          </a>
          <button
            onclick="return confirm('Apakah anda ingin menghapus data ini?')"
            class="btn btn-danger"
            type="submit"
          >
            <i class="nav-icon fas fa-trash"></i>
            Hapus
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
